{% extends 'home.html' %}

{% block search_bar %}

<div id="div-search-bar">
    <form action="{% url 'search_task' %}" method="GET" id="search_form">
        <input type="text" id="search-bar" name="searched_title" required>
        <input type="submit" id="search" value="Search">
    </form>
</div>

{% endblock search_bar %}

{% block web_content %}

<div class="uname">
    <p>{{request.user }} 's TODOs :-</p>

    <div class="task-stats">
        <p> Completed {{complete__tasks}} &nbsp; Remaining {{incomplete_tasks}}</p>
    </div>
</div>

<div class="list">

    <div class="accordion" id="accordionExample">

        {% for i in tasks %}
    
            <div class="card">
                <div class="card-header" id="heading{{i.id}}">

                    {% if i.complete_status %}
                        <button type="button" class="mark_task" style="background-color: greenyellow;" id="mark" onclick="location.href='/mark_task/{{i.id}}'">
                        </button>
                    {% else %}
                        <button type="button" class="mark_task" onclick="location.href='/mark_task/{{i.id}}'">
                        </button>
                    {% endif %}

                    <span class="collapsed task_title_view" data-toggle="collapse" data-target="#collapse{{ i.id }}" aria-expanded="true" aria-controls="collapse{{ i.id }}">
                        <h4>
                            {{ i.title }}
                            {% if i.complete_status %}
                                <span class="completed-status" style="color: green; font-weight: bold; margin-left: 10px;">Completed</span>
                            {% endif %}
                        </h4>
                    </span>
                    
                    <div style="margin-left: auto;">
                        <button type="button" class="delete_task" onclick="location.href='/delete_task/{{i.id}}'">
                            <i class="material-icons">close</i>
                        </button>
                    </div>

                </div>

                <div id="collapse{{ i.id }}" class="collapse desc" aria-labelledby="heading{{i.id}}" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ i.description }}
                    </div>
                </div>

            </div>
    
        {% endfor %}
    
    </div>

</div>

{% endblock web_content %}

{% block add_btn %}

<div class="add_btn_div">
    <a class="btn" href="{% url 'add_task' %}"> 
        <button class="add-btn" type="button">Add Task</button>
    </a> 
</div>

{% endblock add_btn %}
