html * {
    font-family: 'Rajdhani', sans-serif;
}

.container {
    margin: 70px auto;
}

.task_display {
    box-shadow: 2px 2px 12px -4px gray;
    max-width: 60%;
    margin: auto;
}

.list {
    overflow-y: scroll;
    max-height: 400px;
}

.add_btn_div {
    margin: 30px auto;
    max-width: 120px;
}

.delete_task{
    visibility: hidden;
}

.card:hover .delete_task {
    visibility: visible;
}

.card:hover{
    /* background: lightgrey; */
    /* border-style: solid red; */
    border:1px solid #e59eaf;

}

.mark_task {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: 10px 10px;
    border: none;
    padding: 10px;
    visibility: hidden;
    /* display: none; */
}

.card:hover .mark_task{
    /* display: block; */
    visibility: visible;
}

.desc {
    margin: 0px 20px;
}

.btn {
    font-size: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.card {
    /* border-bottom: 1px inset; */
    padding: 5px 0px;
    text-align: start;
}

.list::-webkit-scrollbar {
    width: 3px;
}

.list::-webkit-scrollbar-thumb {
    background: #c5c5c5;
}

.card-header {
    display: flex;
}

.auth_panel {
    padding: 20px;
}

.task_title_view {
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    margin-right: 30px;
}

.delete_task {
    background: none;
    border: none;
}


#app-name {
    margin-top: 50px;
    text-align: center;
}

.uname{
    text-align: start;
    font-size: large;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.add-btn{
            padding: 5px;
            font-size: medium;
            max-width: 100px;
            border: 1px #e59eaf solid;
            background: #e59eaf;
}

#div-search-bar{
    margin: 50px;
}

#search-bar{
    width: 30%;
    height: 30px;
    border: 1px #e59eaf solid;
}

#search{
    height: 30px;
    border: 1px #e59eaf solid;
    background: #e59eaf;
}

#logout-btn{
    position: fixed;
    right: 10px;
    top: 10px;
}

#error-msg{
    color: red;
}

#app-name-home{
    color: black;
}

@media only screen and (max-width: 450px) {
    .task_display {
        width: 100%;
        max-width: 100%;
    }

    #search_form{
        width: 100%;
    }

    #search-bar{
        width: 80%;
    }

    #app-name{
        margin-top: 10px;
    }

}